https://www.mapcustomizer.com/#bulkEntryModal - можно проверять координаты

Теперь необходимо кластеризовать данные координаты, чтобы выявить центры скоплений туристов. Поскольку баннеры имеют сравнительно небольшую площадь действия, нам нужен алгоритм, позволяющий ограничить размер кластера и не зависящий от количества кластеров.

Эта задача — хороший повод познакомиться с алгоритмом MeanShift, который мы обошли стороной в основной части лекций. Его описание при желании можно посмотреть в sklearn user guide, а чуть позже появится дополнительное видео с обзором этого и некоторых других алгоритмов кластеризации. Используйте MeanShift, указав **bandwidth=0.1**, что в переводе из градусов в метры колеблется примерно от 5 до 10 км в средних широтах.

интересное по методу
https://www.coursera.org/learn/unsupervised-learning/programming/XXda2/razmieshchieniie-bannierov/discussions/threads/jVfuyW3kEeao3RIiUksYQw

In [67]:
import csv
import pandas as pd
import numpy as np

from sklearn.cluster import MeanShift

In [13]:
# dat ---> csv (с удалением строк с пустными значениями)
with open('checkins.dat') as dat_file, open('checkins.csv', 'w') as csv_file:
    csv_writer = csv.writer(csv_file)

    for line in dat_file:
        row = [field.strip() for field in line.split('|')]
        if len(row) == 6 and row[3] and row[4]:
            csv_writer.writerow(row)
# можно было просто так            
# data = pd.read_csv('checkins.dat', sep='|', skipinitialspace=True).dropna()

In [23]:
frame = pd.read_csv('checkins.csv', header=0, sep=',')

In [24]:
# frame.head()
print frame.columns
print frame.shape

Index([u'id', u'user_id', u'venue_id', u'latitude', u'longitude',
       u'created_at'],
      dtype='object')
(396634, 6)

In [30]:
frame.head(8)

       id  user_id  venue_id   latitude   longitude           created_at
0  984222    15824      5222  38.895112  -77.036366  2012-04-21 17:43:47
1  984234    44652      5222  33.800745  -84.410520  2012-04-21 17:43:43
2  984291   105054      5222  45.523452 -122.676207  2012-04-21 17:39:22
3  984318  2146539      5222  40.764462 -111.904565  2012-04-21 17:35:46
4  984232    93870    380645  33.448377 -112.074037  2012-04-21 17:38:18
5  984483  1030290    955969  32.221743 -110.926479  2012-04-21 17:58:54
6  984685   304253     23558  40.650000  -73.950000  2012-04-21 18:19:34
7  984470   720850    749715  33.448377 -112.074037  2012-04-21 17:02:47

In [49]:
frame_100 = frame[['latitude', 'longitude']].head(100000)

In [50]:
frame_100.shape

(100000, 2)

In [51]:
estimator = MeanShift(bandwidth=0.1, n_jobs=4)

In [52]:
clustering = estimator.fit(frame_100)

**labels_** - тут лежит информация к какому кластеру относится каждая метка

**cluster_centers_** - координаты центров кластеров

In [66]:
# labels_ - тут лежит информация к какому кластеру относится каждая метка
# lustering.cluster_centers_ - координаты центров кластеров
type(clustering.labels_)

numpy.ndarray

In [71]:
np.sum(clustering.labels_==0)

12506

In [87]:
# не берём в расчёт кластеры в которых меньше 15 элементов
cnt_clusters = len(clustering.cluster_centers_)
clusters = [clustering.cluster_centers_[i] for i in range(0, cnt_clusters) if np.sum(clustering.labels_==i) > 15]

new_clusters = np.array(labels)

In [189]:
# for pnt in new_clusters:
#     print pnt[0], ', ' , pnt[1]

In [84]:
# офисы компании (координаты)
list_office = [
    [33.751277, -118.188740],
    [25.867736, -80.324116],
    [51.503016, -0.075479],
    [52.378894, 4.885084],
    [39.366487, 117.036146],
    [-33.868457, 151.205134]
]

office = np.array(list_office, dtype='float64')

In [85]:
office

array([[ 3.37512770e+01, -1.18188740e+02],
       [ 2.58677360e+01, -8.03241160e+01],
       [ 5.15030160e+01, -7.54790000e-02],
       [ 5.23788940e+01,  4.88508400e+00],
       [ 3.93664870e+01,  1.17036146e+02],
       [-3.38684570e+01,  1.51205134e+02]])

In [179]:
# считаем векторное расстояние между 2 точками
list_dist = []
# t = np.array([])
for of in office:
    dist_to_office = [[np.sqrt((of[0] - cl[0])**2 + (of[1] - cl[1])**2), ind] for ind, cl in enumerate(new_clusters)]
    list_dist.append(dist_to_office)
#     t = np.append(t, np.arange(dist_to_office))

list_dist = np.array(list_dist)

In [187]:
каждая колонка - офис
print np.min(list_dist[0][:,0])
print np.min(list_dist[1][:,0])
print np.min(list_dist[2][:,0])
print np.min(list_dist[3][:,0])
print np.min(list_dist[4][:,0])
print np.min(list_dist[5][:,0])


print np.argmin(list_dist[5][:,0])

0.07084773242719973
0.022674066158385495
0.05005829482278787
0.009353316185992226
9.267575010767361
0.007834758163107856
417

In [188]:
list_dist[5][417]

array([7.83475816e-03, 4.17000000e+02])

In [186]:
# получаем самый близкий кластер к одному из офисов (в данном случае к 6 офису)
clusters[417]

array([-33.86063043, 151.20477593])